<%= render 'shared/page_title', title:"Répertoire des chefs" %>

<%= render 'shared/willpaginate', obj: @chefs %>

<div class="row">

  <% @chefs.each do |chef| %>
    <div class="col-md-4 col-md-offset-4 well">
      <section class="center">
        <%= link_to (gravatar_for chef,size:130), chef_path(chef)  %>
      </section>

      <h4 align="center"><%= link_to chef.chefname.titleize, chef_path(chef), class:"name_color" %></h4>

      <section class="center">
        <small align="center"><%= pluralize chef.recettes.count, "recette"%> à son actif  </small>
      </section>
    </div>
  <%end%>
</div>

<%= render 'shared/willpaginate', obj: @chefs %>

<div class="col-md-4 col-md-offset-4 colormatch center">
  [   <%= link_to "Consulter à la liste des recettes", recettes_path %> ]
</div>
