<%= render 'shared/page_title', title:@recette.name %>



<div class="well col-md-8 col-md-offset-2">
	<h4 class="center description"><strong>Etapes: </strong></h4>
	<hr>
	<%= simple_format @recette.description %>
	<hr>
	<div class="pull-right">
		<p class="center"><em>Creer par : </em></p>
		<p class="center"> <%= link_to (gravatar_for(@recette.chef)), chef_path(@recette.chef) %> </p>
		<p><small><%= @recette.chef.chefname.titleize%></small></p>
		<div class="pull-right">créé depuis : <%= time_ago_in_words(@recette.created_at) %></div>
	</div>
	<div class="recette_actions">
		<%= link_to "Mettre à jour cette recette",edit_recette_path(@recette),class:"btn btn-xs btn-warning" %>
		<%= link_to "Supprimer cette recette", recette_path(@recette),method: :delete,
		                                     data:{confirm:"Validez la suppression"},class:"btn btn-xs btn-danger" %>
		<%= link_to "Retourner à la liste des recettes",recettes_path,class:"btn btn-xs btn-primary" %>
	</div>
</div>


